# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.Python
build/
dist/

# Virtual environment
venv/
env/
.env/

# Dependencies
/backend/venv/
/frontend/node_modules/
/frontend/build/

# Miscellaneous
.DS_Store
npm-debug.log*

# Editor files
.vscode/
.idea/
*.swp
*.bak
*~
